body{
    width: 100%;
    margin: 15px auto;
    background-color: grey;
}

#Title{
    float: right;
    color: black;
}

main{
    height: 1000px;
    border: 1px solid black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#MainImage{
    margin-right: 30%;
    margin-left: 15%;
    width: 50%;
    float: none;
    border: 1px solid blue;
}

section{
    float: left;
    width: 80%;
}

aside{
    float:right;
    width: 15%;
    border: 1px solid black;
    height: 1000px;
    text-align: center;
    background-color: darkgrey;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

header {
    background-image: url(../Images/dog-cat-field-animals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: navajowhite;
    border: 1px solid blue;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2{
color: white;
text-align: center;
font-family: 'Courier New', Courier, monospace;
}

.Heading{
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

nav{
    margin-top: 0px;
    padding-top: 5px;
    height: 50px;
    background-color: blue;
    padding-bottom: 25px;
}

nav ul{

    text-align: center;
    font-size: 20px;
    height: 50px;
}

ul li {
    padding: 5px;
    display: inline;
    text-align: center;
    height: 30px;
}

.link{
    border: solid 1px black ;
    background-color: lightblue;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Currentlink{
    border: solid 1px black ;
    background-color: blue;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: white;
    justify-self: auto;
}

footer{
    height: 50px;
    background-color: blue;
    width: 100%;;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
}

